@import "vars"
@import "mixins"

body
  position: relative
  width: 100%
  height: 100vh
  margin: 0
  // background: url(image_path('confetti.png')), $bg
  background-color: $bg
  background-repeat: no-repeat
  background-size: cover
  font-family: learningcurve_ot-webfont
  font-size: calc(25px + 1vh + 1vw)
  color: white

.text
  position: absolute
  left: 50%
  top: 50%
  &:first-child
    transform: translate(-50%, -90%)
  &:last-child
    transform: translate(-50%, -10%)
  &:only-child
    transform: translate(-50%, -50%)


.ball
  position: absolute
  display: block
  height: 300px
  width: 300px
  border-radius: 50%

.pink
  top: 40%
  left: 35%
  z-index: 10
  background-color: $pink

  +breakpoint(tablet)

  +breakpoint(desktop)
    top: 38%
    left: 38%

.blue
  bottom: 5%
  right: 5%
  z-index: 2
  background-color: $blue

  +breakpoint(tablet)
  +breakpoint(desktop)
    bottom: 2%
    right: 2%


.light-blue
  top: 25%
  left: 53%
  z-index: 1
  background-color: $light_blue

  +breakpoint(tablet)
    top: 21%
    left: 60%

  +breakpoint(desktop)
    top: 10%
    left: 56%


.dark-yellow
  top: 5%
  left: 43%
  background-color: $dark_yellow

  +breakpoint(tablet)
  +breakpoint(desktop)
    left: 38%


.yellow
  top: 20%
  left: 3.5%
  background-color: $yellow

  +breakpoint(tablet)
    top: 15%
  +breakpoint(desktop)
    top: 6%


  .text
    color: purple

.grey
  top: 45.5%
  left: 3%
  background-color: $grey

  +breakpoint(tablet)
  +breakpoint(desktop)


  .text
    color: purple

.mauve
  top: 70%
  left: 20%
  background-color: $mauve

  +breakpoint(tablet)
    top: 65%
  +breakpoint(desktop)
    top: 61.5%
    left: 16%


.red
  top: 22%
  left: 63%
  z-index: -1
  background-color: $red

  +breakpoint(tablet)
  +breakpoint(desktop)
    top: 13%
    left: 60%

