$bg: #D3D0C4
$pink: #FF54D2
$blue: #0326FE
$light-blue: #A7C8D4
$dark-yellow: #C6E333
$yellow: #FBF411
$grey: #E1DBE4
$mauve: #FF9C88
$red: #FF493A

body
  margin: 0
  background: url(image_path('confetti.png')), $bg
  font-family: learningcurve_ot-webfont
  font-size: calc(25px + 1vh + 1vw)
div,
h1,
a
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
.pane
  display: block
  position: absolute
  width: 20%
  height: 20%
  span
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    display: block
.pink
  top: 35%
  left: 40%
  width: 30%
  height: 38%
  backface-visibility: hidden
  g
    fill: $pink
.blue
  bottom: 5%
  right: 5%
  width: 50%
  height: 52%
  g
    fill: $blue
  .text
.light-blue
  background: url(image_path('light_blue.png'))
  top: 20%
  left: 50%
.dark-yellow
  background: url(image_path('dark_yellow.png'))
  top: 5%
  left: 50%
  transform: translateX(-50%)
.yellow
  background: url(image_path('yellow.png'))
  top: 10%
  left: 5%
.grey
  background: url(image_path('grey.png'))
  top: 50%
  left: 3%
.mauve
  background: url(image_path('mauve.png'))
  top: 60%
  left: 15%
.red
  background: url(image_path('red.png'))
.pane
  background-size: contain
  background-repeat: no-repeat